# Ignore virtual environment
venv/
env/

# Ignore Python cache
__pycache__/

# Ignore Django secret settings
*.sqlite3
*.pyc
*.log

# Ignore environment variables and local settings
.env

# Ignore static and media if generated dynamically
staticfiles/
media/

# VSCode or PyCharm files
.vscode/
.idea/
