{% extends 'base.html' %} 
    {% block content %} 
        {% load static %} 
        <link rel="stylesheet" href="{% static 'style/style.css'%}">
        <!--------------- img    description     search box  --------------->
        {% include 'Parts/intro.html' %}

        <!---------------- features of Luxotel  ----------------- -->
        {% include 'Parts/features_section.html' %}

        <!------------------- avaliable rooms  ------------- -->
        

        {% include 'Parts/room_type_section.html' %}

        {% include 'Parts/rooms_section.html' %}
        {% include 'Parts/question_section.html' %}
        {% include 'Parts/about.html' %}
        
        

        

        
                <!--------------- js files  ---------------------->
                
                <!--  -->
    {% endblock content %}