        <section class="features-section">
            <h2 class="features-title">Features</h2>
            <ul class="features-list">
                <li class="feature-item">
                    <i class="fa-regular fa-clock feature-icon icon-clock"></i>
                    <span class="feature-text">24/7 Booking</span>
                </li>
                <li class="feature-item">
                    <i class="fa-solid fa-fingerprint feature-icon icon-info"></i>
                    <span class="feature-text">Smart Check-In</span>
                </li>
                <li class="feature-item">
                    <i class="fa-regular fa-lightbulb feature-icon icon-lightbulb"></i>
                    <span class="feature-text">IoT Control</span>
                </li>
                <li class="feature-item">
                    <i class="fa-regular fa-message feature-icon icon-chat"></i>
                    <span class="feature-text">Chatbot Support</span>
                </li>
            </ul>
        </section>
